__pycache__
/env*
/venv*
.~*.*
*.*~
*.egg-info
*.log
*.pot
*.pyc
*.py~
*.sublime-project
*.sublime-workspace
/scripts
/staticfiles
/media
/sites
/tmp
.coverage
/.idea
/.vscode
/htmlcov
*.sqlite*
/celerybeat-schedule
/email
/cache/*.djcache
/sessions/sessionid*
/node_modules
/.env*
/restart_project.sh
/upgrade_project.sh
/.well-known
/*.session
/ngrok
/*.sh
*.csv
/celerybeat-schedule.db
