celery
dj-database-url
Django>=3.2
django-debug-toolbar
django-debug-toolbar-template-profiler
django-extensions
easy-thumbnails
elasticsearch
gunicorn
ipython
Markdown
Pillow>=8.3.2
#psycopg2-binary
Pygments
python-decouple
pytz
redis
sentry-sdk
unicode-slugify
