{% extends "accounts/profile.html" %}
{% load i18n static core_tags %}

{% block title %}{% trans "OurHub Affiliate program" %}{% endblock %}

{% block profile_content %}
<h3 class="mb-4">{% trans "OurHub Affiliate program" %}</h3>

<div class="row">
    <div class="col-12">

        {% with total_bonus=user.get_total_bonus %}
            <p class="h4">{% trans "Your credit balance" %}:
            <span class="h1 {% if user.bonus > 0 %}text-success{% else %}text-muted{% endif %}">€{{ total_bonus }}</span>
            </p>
            {% if total_bonus > user.bonus %}<p>{% trans "Ready to use" %}: <span class="text-success">€{{ user.bonus }}</span></p>{% endif %}
        {% endwith %}

        <div class="shadow p-4 mt-4 mb-4" style="border: 1px solid lightskyblue;">
        <div class="row mt-4 mb-4">
            <div class="col-12">
                <h4 class="text-primary">{% trans "Give €10, Get €10 (+extra 5%)" %}</h4>

                {% blocktrans %}
                <p>Refer your friends to OurHub and share your affiliate link for more credit. Each new
                member receives €10 credit during sign up and you will receive €10 credit once they complete their first order.</p>
                <p>Moreover, you and your friends will all get 5% extra credit on their first order if completed within 2 weeks.</p>
                <p>This 5% extra credit applies to both new and existing members.</p>
                {% endblocktrans %}
                <p><a href="{% main_site_domain tail_slash=False %}/page/give-10-get-10/" target="_blank">{% trans "Learn more" %}</a></p>
            </div>
        </div>

        <div class="form-group row">
            <label for="text-for-clipboard" class="col-md-4 col-form-label">{% trans "Your affiliate link" %}:</label>
            <div class="col-md-8">
              <div class="input-group input-group-sm">
                <input id="text-for-clipboard" class="form-control" type="text"
                       value="{{ request.shop.get_site_domain }}{% url 'register' %}?ref={{ request.user.ref_code }}"
                       readonly>
                <div class="input-group-append">
                    <button id="copy-button" class="btn btn-default" type="button" id="button-addon2" title="{% trans 'Copy to clipboard' %}"><i class="fas fa-copy"></i></button>
                </div>
              </div>
                <small class="form-text text-muted">{% trans "Copy and share this link with your friends and enjoy our affiliate benefits." %}</small>
            </div>
        </div>
        </div>

        {% if my_invites or my_invites_archive %}
            {% if my_invites %}
            <h2 class="h4">{% trans "Active affiliates" %}</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead  class="">
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Bonus per order" %}</th>
                            <th>{% trans "Added" %}</th>
                            <th>{% trans "Expiration date" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in my_invites %}
                        <tr>
                            <td>{{ i.invited_user }}</td>
                            <td>€{{ i.bonus_invited }}</td>
                            <td>{{ i.added|date:"d.m.Y H:i" }}</td>
                            <td>{{ i.expiration_date|date:"d.m.Y H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if my_invites_archive %}
            <h2 class="h4 mt-4 text-muted">{% trans "Archived affiliates" %}</h2>
                <table class="table table-bordered table-striped table-hover table-sm">
                    <thead  class="text-muted">
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Bonus per order" %}</th>
                            <th>{% trans "Added" %}</th>
                            <th>{% trans "Expiration date" %}</th>
                        </tr>
                    </thead>
                    <tbody class="text-muted">
                    {% for i in my_invites_archive %}
                        <tr>
                            <td>{{ i.invited_user }}</td>
                            <td>€{{ i.bonus_invited }}</td>
                            <td>{{ i.added|date:"d.m.Y H:i" }}</td>
                            <td>{{ i.expiration_date|date:"d.m.Y H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <div class="alert alert-info">{% trans "You do not have any active affiliates." %}</div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function copy_text() {
    copyToClipboard("text-for-clipboard", function () {
        toastr.success('{% trans "The link has been copied to the clipboard." %}');
    });
}
$('#copy-button').on('click', copy_text);
</script>
{% endblock %}