{% extends "manage/base_nonav.html" %}
{% load i18n core_tags staticfiles %}

{% block extra_meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block extra_js_header %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block base_content %}
    <main class="auth">
        {% block content %}{% endblock %}
      <!-- copyright -->
      <footer class="auth-footer">
          <div class="copyright"> {% now "Y" as now %}{% blocktrans with now=now %}Copyright © {{ now }}. All right reserved.{% endblocktrans %} </div>
      </footer>
    </main><!-- /.auth -->

    <script>
      /**
       * Keep in mind that your scripts may not always be executed after the theme is completely ready,
       * you might need to observe the `theme:load` event to make sure your scripts are executed after the theme is ready.
       */
      $(document).on('theme:init', () =>
      {
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('auth-header', 'assets/javascript/pages/particles.json');
      })
    </script> <!-- END PLUGINS JS -->
{% endblock %}