{% extends "base.html" %}
{% load i18n staticfiles %}

{% block breadcrumb %}
<div class="breadcrumb_wrap">
    <div class="container">
        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="/" class="homepage-link" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                    <span itemprop="name">{% trans "Home" %}</span>
                </a>
            </li>
            <li class="breadcrumb-item active" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="{% url 'login' %}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                    <span itemprop="name">{% trans "Login" %}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="alert alert-warning">
{% trans "You are already logged in." %}
</div>
{% else %}
<p>{% trans "Processing login through Facebook..." %}</p>
<script type="text/javascript">
{% if redirect_url %}window.location.href="{{redirect_url}}";{% endif %}
</script>
{% endif %}
{% endblock %}
