{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Password reset complete" %}</h1>

<div class="auth-form">
    <div class="alert alert-success">
        <h1 class="h4 mb-4">{% trans "Password reset complete" %}</h1>
        <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
    </div>
    <div class="text-center mb-4 pt-3">
        <a href="{% url 'login' %}" rel="nofollow" class="btn btn-lg btn-success btn-block">{% trans "Go to login page" %}</a>
    </div>
</div>
{% endblock %}