{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Check your inbox" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Check your inbox" %}</h1>

<div class="auth-form">
    <div class="alert alert-success">
        <h1 class="h4 mb-4">{% trans "Check your inbox" %}</h1>
        <p>{% trans "We've emailed you instructions for setting your password. You should receive the email shortly!" %}</p>
    </div>
    <div class="text-center mb-4 pt-3">
        <a href="{% url 'login' %}" rel="nofollow" class="link">{% trans "Go to login page" %}</a>
    </div>
</div>
{% endblock %}