{% extends "email/base.html" %}
{% load i18n core_tags %}

{% block content %}
    {% load_option "SITE_URL" as site_url %}
    <h1>{% trans "Reset password" %}</h1>

    <p>{% trans "You're receiving this email because you requested a password reset for your user account." %}</p>

    <p>{% trans "Please go to the following page and choose a new password:" %}</p>

    <p><a href="{{ site_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ site_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
{% endblock %}