{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Password reset confirmation" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Password reset confirmation" %}</h1>

{% if validlink %}
<form method="post" class="auth-form">
    <div class="alert alert-info">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</div>

    {% csrf_token %}
    {% include "forms/form_fields.html" %}
    <div class="form-actions mb-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change my password" %}</button>
    </div>
</form>
{% else %}
    <div class="auth-form">
        <div class="alert alert-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</div>
    </div>
{% endif %}
{% endblock %}