{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Change password" %}</h1>

<form method="post">
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    {% include "forms/form_fields.html" %}
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}