{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Password reset" %}</h1>

<form method="post" class="auth-form">
    <div class="alert alert-info">
        {% trans "Enter your email address below, and we'll email instructions for setting a new one." %}
    </div>

    {% csrf_token %}
    {% include "forms/form_fields.html" %}
    <div class="form-actions mb-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Send me instructions" %}</button>
    </div>
</form><!-- /.auth-form -->
{% endblock %}