{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Register" %}{% endblock %}
{% block extra_meta %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
<h1 class="mb-4">Register</h1>

<form method="post">
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    {% include "forms/form_fields.html" with hide_required_badges=True %}
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Register" %}</button>
    </div>
</form>
{% endblock %}